<div class="container">
  <h1 class="blog-title">Blog</h1>

  <%= for post <- @posts do %>
      <h2 class="post-title">
        <%= post.title %>
      </h2>
      <%= raw Calendar.Strftime.strftime!(post.inserted_at, "%e %B %Y") %>
      <br>
      <br>
      <%= raw Earmark.to_html(post.body) %>
  <% end %>
</div>
